<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports News</title>
</head>
<body>
    <header>
        <h1>Sports News</h1>
    </header>

    <main>
        <h2>Latest Articles</h2>
        <div>
            <h3>Messi scores hat-trick against algeria fifa 2026 worldcup</h3>
            <p>Posted by Admin - Football</p>
        </div>
        <div>
            <h3>Lionel messi still one of the contender for ballondor</h3>
            <p>Posted by Admin - Football</p>
        </div>
    </main>
</body>
</html>
